 <!-- start project-header -->
 <div class="header">
    <div class="header-body d-flex jsutify-content-between">
      <div class="container">
        <div class="row">
            <!-- start left-sideHeader(text) -->
          <div class="col-md-6 header-text">
              <h2><span style="color: #F16E00;">  Easy ,</span> way to manages all your finanical tasks</h2>
              <div class="buttons d-flex pt-5 ">
                  <button class=" button-56 ">Get started <span class=" ps-3" style="font-size: 21px;"><i class="fa-sharp  fa-arrow-right"></i></span></button>
                  <button class=" btn btn-secondary learn-btn ms-4 ">Learn more</button>'<!-- HTML !-->
                 
              </div>
          </div>
          <!-- start right-sideHeader(assest) -->
          <div class="col-md-6">
            <img src="../../assets/img/Plain credit card-pana 1 (1).png" class=" w-100 header-img" alt="">
          </div>
        </div>
        <div class=" w-100 text-center up-dowen">
            <a href="#about">
                <svg class="arrows">
                    <path class="a1" d="M0 0 L30 32 L60 0"></path>
                    <path class="a2" d="M0 20 L30 52 L60 20"></path>
                    <path class="a3" d="M0 40 L30 72 L60 40"></path>
                  </svg>
            </a>
            
        </div>
        </div>
    </div>
    
  </div>
  <!-- end projetc-header -->
  <!-- start services section -->
  <section class="services bg-light wow bounceInUp"  data-wow-delay="0.5s" id="services">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="../../assets/img/Plain credit card-cuate 1.png" class="w-100 
                    " alt="">
                </div>
            </div>
            <div class="col-md-6 right-side ">
                <p  class="btn btn-secondary mb-3 ">our best feature</p>
                <h3 class="heading">Lets see what Tap Cash can do for you</h3>
                <p class="text-muted heading-paragraph">Lets see what Tap Cash can do for you Lets see what Tap Cash can do for youLets see what Tap Cash can do for you</p>
                <div class="services">
                    <div class="row gx-5">
                     <div class="col-md-4">
                        <div class="box text-center">
                              <img class="
                                " src="../../assets/img/Vector.png" alt="">
                                <h3>Pocket & saving plan features</h3>
                                 </div>
                     </div>
                     
                     <div class="col-md-4 ">
                        <div class="box text-center second
                        ">
                             <img class="
                                " src="../../assets/img/Vector (2).png" alt="">
                                <h3>Multi-Devices
                                    support access</h3>
                                 </div>
                        </div>
                     <div class="col-md-4 ">
                        <div class="box text-center second">
                            <img class="
                                " src="../../assets/img//Vector (1).png" alt="">
                                <h3>secure payment &
                                    transaction</h3>
                                
                            
                        </div>

                     </div>
                    </div>
                </div>
            
            </div>
        </div>
      
    </div>


  </section>
  <!-- end section -->
<!--start  -->
<section class="about wow fadeInDown"data-wow-delay="0.5s" id="about">
    <div class="headers w-100 text-center">
        <h3>we have solution that work for you</h3>
    </div>
    <div class="about-boxes position-relative pt">
            <div class="right wow fadeInLeft pt-4" data-wow-delay="0.7s">
                <div class="container w-75 d-flex justify-content-between me-0">
                    <div class="box-details ">
                        <h2 class=" pt-2">Lets see what Tap Cash can do for you</h2>
                        <p>Lets see what Tap Cash can do for you Lets see what Tap Cash can do for you Lets see what Tap Cash can do for you</p>
                        <button class="btn btn-secondary learn-more px-4 mt-3 ms-5 ">learn more</button>
                    </div>
                    <div class="box-img">
                        <img src="../../assets/img/Payment Information-cuate 1.png" class=" w-100" alt="">
                    </div>
                </div>
                    
            </div>

            <div class="left pt-5 wow fadeInRight" data-wow-delay="0.7s">
                <div class="container w-75 d-flex justify-content-between ms-0">
                    <div class="box-img">
                        <img src="../../assets/img/Wallet-bro 1.png" class=" w-100" alt="">
                    </div>
                    <div class="box-details ">
                        <h2 class=" pt-2">Lets see what Tap Cash can do for you</h2>
                        <p>Lets see what Tap Cash can do for you Lets see what Tap Cash can do for you Lets see what Tap Cash can do for you</p>
                        <button class="btn btn-secondary learn-more px-4 mt-3 me-0 ">learn more</button>
                    </div>
                   
                </div>
                    
            </div>
    </div>
</section>
<footer class="">
    <div class="container-fluid ">
        <div class="upper-text">
            <h2 class=" ps-3">Tap cash</h2>
            <ul class=" list-unstyled d-flex justify-content-between w-25 ps-3">
                    <li>
                        <a routerLink="Services">Services</a>
                    </li>
                    <li >
                        <a routerLink="">about us</a>
                    </li>
                    <li>
                        <a routerLink="">privacy</a>
                    </li>
            </ul>
            <hr>
        </div>
        <div class="dowen-footer d-flex justify-content-between">
            <p ><img class=" px-2" src="../../assets/img/footer.png" alt="">2023 Code work, All Rights reserved </p>
            <ul class="list-unstyled d-flex">
                <li>
                    <a class=" text-muted" href="">
                        Terms
                    </a>
                </li>
                <li>
                    <a class=" text-muted" href="">
                        Privecy
                    </a>
                </li>
                <li>
                    <a class=" text-muted" href="">coockies</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!--end  -->